@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Vollkorn:ital,wght@0,400;0,700;1,400&display=swap');

* {
background-color: rgb(254, 226, 231);
}

header {
    background-color: pink;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    border: 2px solid green;
}

header * {
    display: inline;
    background-color: pink;

}

header li {
    margin: 20px;
    margin-left: 120px;
    font-size: 19px;
}

header li a {
    text-decoration: none;
    color: green;
    border-radius: 20px;
}

header li a:hover {
    color: green;
    border: 2px solid green;
    background-color: lightcoral;
    transition: background-color 80ms ease-out;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px;
}

header li a:active {
    color: rgb(176, 246, 203);
    border: 2px solid green;
    background-color: lightcoral;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px;
}

.logo-link {
    text-decoration: none;
    color: green;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: 50;
    margin-left: 40px;
    background-color: pink;
}

.logo-link:hover {
    color: lightcoral;
}

body {
    margin-top: 80px;
}

.hero {
    text-align: center;
    flex-direction: column;
    padding: 200px 200px;
}

.hero-title {
  color: rgb(97, 82, 82);
  font-size: 60px;
  font-style: italic;
}

.hero-subtitle {
  color: rgb(97, 82, 82);
  font-size: 30px;
}

.hero-btn {
  border: 2px solid green;
    background-color: pink;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: green;
    padding: 20px 30px;
    justify-self: center;
    border-radius: 10px;
}

.hero-btn:hover {
  background-color: lightcoral;
  cursor: pointer;
  border-radius: 20px;
}

.featured-title, .services-title, .about-title, .contact-title {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 50;
    color: green;
    text-align: center;
}

.featured-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid green;
    background-color: rgb(254, 226, 231);
    text-align: center;
    margin: 50px;
    align-items: flex-end;
}

.featured-btn {
    border: 2px solid green;
    background-color: pink;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 50;
    color: green;
    margin: 20px;
    justify-self: center;
    border-radius: 10px;
}

.featured-btn:hover {
    background-color: lightcoral;
    cursor: pointer;
    border-radius: 20px;
}

figcaption a {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 19px;
    font-weight: 50;
    color: rgb(92, 164, 92);
    text-align: center;
    text-decoration: none;
}


.figcaption:hover {
    color: black;
}

.top1:hover, .top2:hover, .top3:hover {
    opacity: 0.8;
    transition: opacity 100ms ease-out;
}

.about-container {
    border: 2px solid green;
    background-color: rgb(254, 226, 231);
    text-align: center;
    color: rgb(85, 82, 82);
    font-weight: 20px;
    font-size: 18px;
    margin: 50px;
}

.about-image {
  border-radius: 10px;
}

.about-btn {
    border: 2px solid green;
    background-color: pink;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 50;
    color: green;
    margin: 20px;
    height: 60px;
    justify-self: center;
    border-radius: 10px;
}

.about-btn:hover {
  background-color: lightcoral;
  cursor: pointer;
  border-radius: 20px;

}

.contact {
  background-color: rgb(254, 226, 231);
  border: 2px solid green;
  margin: 50px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
  }
  
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: #bbb5af;
  }
  
  input::placeholder, textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::placeholder, textarea:focus::placeholder {
    color: #bbb5af;
  }
  
  input::-ms-placeholder, textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
    color: #bbb5af;
  }
  
  /* on hover placeholder */
  
  input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
  }
  
  input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
  }
  
  input:hover::placeholder, textarea:hover::placeholder {
    color: #ffffff;
    font-size: 0.875em;
  }
  
  input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: #ffffff;
  }
  
  input:hover::placeholder, textarea:hover::placeholder {
    color: #ffffff;
    font-size: 0.875em;
  }
  
  input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1;
  }
  
  #form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
  }
  
  input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    
    background: transparent;
    outline: none;
    color: #726659;
    
    border: solid 1px #b3aca7;
    border-bottom: none;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  input:hover {
    background: pink;
    color: #2e2926;
  }
  
  textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    
    background: transparent;
    outline: none;
    
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    
    border: solid 1px #b3aca7;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  textarea:hover {
    background: pink;
    color: #2e2b29;
  }
  
  #submit {
    width: 502px;
    
    padding: 0;
    margin: -5px 0px 0px 0px;
    
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #b3aca7;
    
    outline:none;
    cursor: pointer;
    
    border: solid 1px #b3aca7;
    border-top: none;
  }
  
  #submit:hover {
    color: #ffffff;
  }

  .social-link {
    padding: 10px;
    opacity: 0.8;
  }

  footer {
    text-align: center;
    padding: 50px;
    margin-top: 50px;
  }


  /* Media Queries */

  @media screen and (max-width: 420px) {
    .header * {
      display: none;
    }

    .about-container {
      margin: 50px 0px;
    }
    .about-btn {
      margin: 20px 0px;
    }
  }